
<style type="text/css">
  .ad, .carbon-img > img{
    min-width: 170px;
    margin-bottom: 5px;
  }
</style>
<div id="SidebarTheDeck" class="deck-ad-wrap" style="
    font-size: 12px;
    width: 170px;
    line-height: 1.5em;
    /*margin: 0 auto;*/
">
  <script type="text/javascript">
    (function(id) {
      document.write('<script type="text/javascript" src="' +
      'http://connect.decknetwork.net/deck' + id + '_js.php?' +
      (new Date().getTime()) + '"></scr' + 'ipt>');
    })("CP");
  </script>
</div>

<div class="carbon-ad-wrap" style="
    font-size: 12px;
    width: 170px;
    line-height: 1.5em;
    /*margin: 0 auto;*/
">
<script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js%3Fzoneid=1673&serve=C6AILKT&placement=carbonads&circle=dev" id="_carbonads_js"></script>
</div>

