{{> head }}
<body>
  <header role="banner">{{> header }}</header>
  <nav role="navigation">{{> navigation }}</nav>
  <div id="main">
    <div id="content">
      {{ body }}
    </div>
  </div>
  <footer role="contentinfo">{{> footer }}</footer>
  {{> after_footer }}
</body>
</html>
